<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:x_rt="http://java.sun.com/jstl/xml_rt"
      xmlns:c_rt="http://java.sun.com/jstl/core_rt"
      xmlns:fmt_rt="http://java.sun.com/jstl/fmt_rt"
      xmlns:sql_rt="http://java.sun.com/jstl/sql_rt"
      xmlns:x="http://java.sun.com/jsp/jstl/xml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
      xmlns:sql="http://java.sun.com/jsp/jstl/sql"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
	  xmlns:composite="http://xmlns.jcp.org/jsf/composite"  	  
      xmlns:permittedTaglibs="http://jakarta.apache.org/taglibs/standard/permittedTaglibs"
      xmlns:scriptfree="http://jakarta.apache.org/taglibs/standard/scriptfree"> 

<h:head><title>JSF Form Page</title></h:head>

<composite:interface>  
<composite:attribute name="firstName" required="true"/>  
<composite:attribute name="lastName" required="true"/>  
</composite:interface>
  
 
<h:body>
    	<h1>Input a name please</h1>
 		<br></br>
 		
 		
 		<ui:composition template="/layouts/commonLayout.xhtml">
 		
        	<ui:insert name="header">
        	</ui:insert>
        	
			<ui:define name="content">
   			<div align="center"> 
				<form  method="post" action="j_security_check">
						Username: <h:inputText id="j_username" autocomplete="off" /><br/>
						Password: <h:inputSecret id="j_password" autocomplete="off" /><br/>
					<h:commandButton type="submit" value="Submit" />
				</form>
			</div>

        	</ui:define>
        	
			<ui:insert name="footer">
        	</ui:insert>
        	
      	</ui:composition>		  
 
</h:body>

</html>

