<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
    <body>
	    <ui:composition>
	
		<h1><center>CLC-235 Menu System</center></h1>
		<h:form>		
				 <div> 					
 					<h:commandButton value="Main page" action="/index.xhtml"></h:commandButton> 
 					<h:commandButton value="Login" action="/Login.xhtml"></h:commandButton> 
 					<h:commandButton value="Register" action="/Register.xhtml"></h:commandButton>
 				</div>
		</h:form> 				
		<BR></BR>
		<BR></BR>
	    </ui:composition>
    </body>
</html>
